<p id="notice"><%= notice %></p>

<h1>Yourplans</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Courses</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yourplans.each do |yourplan| %>
      <tr>
        <td><%= yourplan.student %></td>
        <td><%= yourplan.courses %></td>
        <td><%= yourplan.schedule_id %></td>
        <td><%= link_to 'Show', yourplan %></td>
        <td><%= link_to 'Edit', edit_yourplan_path(yourplan) %></td>
        <td><%= link_to 'Destroy', yourplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yourplan', new_yourplan_path %>
